page-about {

}
.card-content {
  font-size: 1.8rem;
}
.card-head {
  font-size: 1.5rem;
  opacity: 0.7;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-content {
  background-color: darken(whitesmoke, 8%);
}
.latlng {
  font-size: 1rem;
  float: right;
  position: absolute;
  right: 50px;
  text-align: right;
}
.aboutTitle {
  .toolbar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
